<div class=container>
 <h3>ラーメン店一覧</h3>
 <div class = row>
  <table class = table>
    <thead>
      <th>投稿ユーザー</th>
      <th>店名</th>
      <th>住所</th>
      <th>投稿詳細</th>
    </thead>
    <tbody>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>
  </table>
 </div>
</div>