<h1>投稿詳細</h1>

<table>
 <tbody>
  <tr>
   <td>
    <%= imege_tag @record .get_image(40,40) %>
   </td>
   <td></td>
   <td>
    <%= @record.shop_name%>
   </td>
   <td>
    <%= @record.name%>
   </td>
   <td></td>
   <td>
    <%= @record.review%>
   </td>
  </tr>
 
 </tbody>
</table>