<div class="container">
<h3>コメント一覧</h3>
<div class="row">
 <table class ="table">
  <thead>
   <th>ユーザー画像</th>
   <th>ユーザー名</th>
   <th>コメント</th>
   <th></th>
  </thead>
  <% @comments.each do |comment| %>
   <tbody>
    <td><%= image_tag comment.user.get_profile_image(40,40) %></td>
    <td> <%= comment.user.name %></td>
    <td> <%= comment.comment %></td>
    <td>
     <% if @record.user == current_user %>
      <%= link_to "削除", record_comment_path(@record,comment), method: :delete %>
     <% end %>
    </td>
   </tbody>
  <% end %>
 </table>
</div>
</div>

