<div class=container>
 <div class = row>
  <table class = table>
    <thead>
      <th>投稿ユーザー</th>
      <th>店名</th>
      <th>メニュー</th>
      <th></th>
    </thead>

     <% @records.each do |record| %>
    <tbody>
     <tr>
       <td><%= record.user.name %></td>
       <td><%= record.shop_name %></td>
       <td><%= record.name %></td>
       <td><%= link_to "削除",admin_record_path(record.id), method: :delete, "data-confirm" => "本当に消しますか？" ,class:"btn btn-sm btn-danger"%></td>
     </tr>
    </tbody>
    <% end %>
  </table>
 </div>
</div>